@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');


/* FONTE DO TITULO NO HEADER*/
.courgette {
  font-family: "Courgette";
}

/* FONTE DO TITULO NO FOOTER*/
.fenix {
  font-family: "Fenix";
}

.text-colorTextLogo {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

